body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9d638e;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
}

.calculator, .results {
    background-color: #e0aed4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9c174a;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b3001e;
}

.result-item {
    cursor: pointer;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.result-value {
    color: #9c174a;
}

.result-item:hover::after {
    content: " (click to change units)";
    font-size: 12px;
    color: #555;
    position: absolute;
    right: -160px;
}

.note {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.image-container {
    margin-top: 25px;
    text-align: center;
}

#resultImage {
    max-width: 80%;
    height: auto;
}
